<!doctype html>
<html class="no-js" lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-8352292-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-8352292-2');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="author" content="M_Adnan"/>
    <!-- Document Title -->
    <title>Neural Diacritizer for Arabic Varieties</title>

    <!-- StyleSheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">

    <!-- FontsOnline -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <!-- JavaScripts -->
    <script src="{{ url_for('static', filename='js/vendors/modernizr.js') }}"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- Page Wrapper -->
<div id="wrap">

    <!-- Header -->
    <header></header>
    <!-- End Header -->

    <!-- Content -->
    <div id="cont" class="resune-edit">
        <div class="resume" style="background: white !important;">
            <div class="container">

                <!-- TOP HEAD -->
                <div class="top-head">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>Neural Diacritizer for Arabic Varieties</h4>
                            <!--<a href="#.">Edit Resume</a> -->
                        </div>
                    </div>
                </div>

                <!-- Resume -->
                <div class="row">



                    <!-- MAIN CONTENT -->
                    <div class="col-md-12">
                        <div class="inside-sec">
                            <!-- BIO AND SKILLS -->
                            <!--<h5 class="tittle">Diacritization</h5>-->
                            <form method="POST" action="">
                                {{ form.hidden_tag() }}
                                <div class="bio-info padding-30">
                                    <div class="form-group">
                                        <!--{{ form.content.label(class="form-control-label") }}-->
                                        {% if form.content.errors %}
                                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.content.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.content(class="form-control form-control-lg", dir="rtl",
                                        style="color: black; font-size: 20px;height: 230px;") }}
                                        {% endif %}
                                    </div>
                                    <!--<textarea dir="rtl" class="form-control"-->
                                              <!--style="color: black; font-size: 20px;height: 230px;">نلتزم في معهد قطر لبحوث الحوسبة بتعزيز مكانة اللغة العربية في عصر المعلومات عبر إجراء أبحاث في تقنيات اللغة العربية، فالحرص على ازدهار اللغة العربية في العالم الرقمي هو من أولويات أبحاثنا، وتتعرض مشاريع بحثنا الحالية لتحديات مرتبطة بانعدام المحتوى وأخرى لا تقل أهمية حول استخراج هذا المحتوى.-->

<!--يسعى معهد قطر لبحوث الحوسبة ليصبح الرائد في تقنيات اللغة العربية في المنطقة والعالم وذلك في مجالات البحث واسترجاع المعلومات والتحليل ومعالجة اللغات المتعددة والترجمة الآلية المتقدمة كما يبذل جهداً لزيادة المحتوى العربي على الإنترنت وإغنائه.</textarea>-->
                                    <div class="skills margin-top-50">

                                        <!-- SKILLS -->
                                        <h6>{{ form.dialect.label() }}</h6>

                                         <!-- Sound Engineering -->
                                        <div class="row">

                                            <!-- Categories -->
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    {% if form.dialect.errors %}
                                                    {{ form.content(class="form-control selectpicker is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.dialect.errors %}
                                                        <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                    {% else %}
                                                    {{ form.dialect(class="form-control selectpicker", onchange="selectRandText(this);") }}
                                                    {% endif %}
                                                </div>
                                                <!--<span class="add-custm">or <a href="#."> Add A Custom Category</a></span> -->
                                            </div>


                                            <!--  Skills -->
                                            <div class="col-sm-6" style="text-align: right;">
                                                {{ form.submit(class="btn ") }}
                                                <!--<i href="#" class="btn" type="submit"><i class="fa fa-refresh"></i> Restore Diacritics</i>-->
                                            </div>
                                            <!--<select class="selectpicker">-->
                                            <!--<option>Skills</option>-->
                                            <!--<option>HTML5 CSS3</option>-->
                                            <!--<option>Photoshop</option>-->
                                            <!--</select>-->
                                            <!--<span class="add-custm">or <a href="#."> Add A Custom Skills</a></span> -->

                                        </div>
                                    </div>

                                </div>
                            </form>
                            <div class="bio-info padding-30">
                                            <div class="form-group">
                                                <textarea id='output' dir="rtl" class="form-control" style="color: black; font-size: 20px;height: 230px;">{% if output %}{{ output }} {% endif %}</textarea>

                                            </div>
                                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Content -->

    <!-- Footer -->
    <!--<footer class="footer">-->
        <!--<div class="rights">-->
            <!--<p>© Copyright 2019 QCRI. All right reserved.</p>-->
        <!--</div>-->
    <!--</footer>-->
    <!-- End Footer -->

</div>
<!-- End Page Wrapper -->

<!-- JavaScripts -->
<script src="{{ url_for('static', filename='js/vendors/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendors/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendors/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script>
            function selectRandText(selectObject) {
                var value = selectObject.selectedIndex;
                var min=0;
                var max=2;
                var randonElt =Math.floor(Math.random() * (+max - +min)) + +min;
                var randTexts =[
                    [
                        'موش الي قاعدين يتكلموا الكلهم من بلاد الصحرا',
                        'وعلى غفلة كتسمع صوت من السما بحال شي ريح قوية',
                        'حدثني يحيى ، عن مالك ، أنه بلغه ، عن عبد الله بن عمر ، أنه قال : قال رسول الله صلى الله عليه وسلم : " لا تمنعوا إماء الله مساجد الله "',
                        'صدر أمس الجمعة تقرير مشترك عن منظمة الأغذية والزراعة ( فاو ) وبرنامج الأغذية العالمي حول الأمن الغذائي في سوريا .'
                    ],
                    [
                        'أبو عبيدة ، عن جابر بن زيد ، عن أبي هريرة ، عن النبي صلى الله عليه وسلم قال : " يقول الله تبارك وتعالى : من عمل عملا أشرك فيه غيري فهو له كله ، وأنا أغنى الشركاء عن الشرك "',
                        'حدثنا محمد بن علي بن حبيش ، ثنا علي بن جعفر بن محمد بن حبيب التمار ، ثنا علي بن إشكاب ، ثنا إسحاق الأزرق ، عن أبي حنيفة ، عن أبي الزبير ، عن جابر ، قال : قال رسول الله صلى الله عليه وسلم : " من كان له إمام ، فقراءة الإمام له قراءة " كذا في أصل أبي الزبير',
                        'عن ابن طاوس ، عن أبيه ، قال : قال النبي صلى الله عليه وسلم : " ألا رجل يقوم من الليل بعشر آيات ، فيصبح قد كتبت له بها مائة حسنة ، إلا رجل صالح يوقظ امرأته من الليل ، فإن قامت وإلا نضح وجهها بالماء ، فقاما لله ساعة من الليل "',
                        'حدثني يحيى ، عن مالك ، أنه بلغه ، عن عبد الله بن عمر ، أنه قال : قال رسول الله صلى الله عليه وسلم : " لا تمنعوا إماء الله مساجد الله "'
                    ],

                    [
                        'أعلنت وكالة الفضاء الأمريكية ( ناسا ) يوم أمس الجمعة عن اجتياز مركبة فوياجر 1 لحافة النظام الشمسي ، لتكون أول جسم من صنع الإنسان يتجاوز حدود المجموعة الشمسية ، وجاء هذا الإعلان بعد أن قضت المركبة نحو عام وهي تسير خارج المجموعة الشمسية ، لكن دون علم من العلماء الذين أدركوا قبل أيام المسافة التي قطعها المسبار .',
                        'اختتم مهرجان برلين السينمائي فعالياته أمس السبت ، وفاز الفيلم الروماني " وضعية الطفل " للمخرج كالين بيتر نيتزر بجائزة الدب الذهبي لأفضل فيلم ، وهذه أول مرة يحصل على هذه الجائزة فيلم من رومانيا ، وتنافس على الجائزة 19 فيلما من مختلف بلدان العالم .',
                        'من المخطط أن يتم طرح الجهاز في الأسواق في الربع الثاني من السنة الجارية في 155 بلدا ، وهو يعمل على نظام اتصالات الجيلين الرابع والثالث ، وسوف يتاح بلونين هما الأبيض والأسود .',
                        'صدر أمس الجمعة تقرير مشترك عن منظمة الأغذية والزراعة ( فاو ) وبرنامج الأغذية العالمي حول الأمن الغذائي في سوريا .'
                    ],

                    [
                        'ياخي قام يوسف وهز الطفل برشا',
                        'صحة ليهم الي يرحمو راهم باش يترحموا',
                        'وعلى غفلة جا صوت مالسماء، كإنو صوت ريح قوي',
                        'موش الي قاعدين يتكلموا الكلهم من بلاد الصحرا'
                    ],

                    [
                        'وناض يوسف وخدا الولد ومه بالليل ومشاو لكازا.',
                        'سعدات هادوك اللي كيرحمو الناس حيت الله غادي يرحمهم',
                        'وعلى غفلة كتسمع صوت من السما بحال شي ريح قوية',
                        'واش ماشي كاع هادو اللي كيتكلمو من القنيطرة'
                    ]
                ];
                // alert("Values:"+value+" et"+randonElt);
                // $('#content').val('fd dfg fdg hjgf');
                document.getElementById("content").value = randTexts[value][randonElt];
            }
</script>
</body>
</html>
